VITE_FIREBASE_API_KEY=AIzaSyCLq_BgWkvU9imcp55oTXwOMEHHf6DuXAY
VITE_FIREBASE_AUTH_DOMAIN=kindcuisine.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kindcuisine
VITE_FIREBASE_STORAGE_BUCKET=kindcuisine.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=480409399007
VITE_FIREBASE_APP_ID=1:480409399007:web:fe94ed964ecc314968436a
